body {
  margin: 0px;
}
header {
    background-color: #262336;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {

}
   
.nav a {
  text-decoration: white;
  color: white;
  margin: 20px;
}

.support {
  background-color: #262336;
  padding: 50px;
  margin: 1px;
  text-align: center;
  color: white;
}

h3 {
 font-size: xx-large;
}

h1 {
  font-size: xxx-large;
  margin: -30px;
}

.try {
  background-color: #9f98bb;
  border-radius: 8px;
  padding: 12px 14px;
  color: white;
  cursor: pointer;
}

.Services {
  background-color: #f29b66;
  display: flex;
  text-align: center;
}

.list {
  margin-top: 0px;
}

h2 {
  color: white;
  font-size: 25px;
} 
h4 {
  color: white;
  margin-top: -25px;
}

.white {
  background-color: #ffffff;
  font-size: x-small;
  padding: 20px;
  margin: -8px 10px;
}

.gray {
  background-color: #f5f0f0;
  font-size: x-small;
  padding: 20px;
  margin: 10px;
}
.hosting {
  background-color: #f29b66;
  border-radius: 15px;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.price {
  background-color: #e8e8ea;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 25px
}

.pricehead {
  background-color: #6f6c89;
  padding: 24px;
  margin: 10px;
}
.prix {
  background-color: #6f6c89;
  padding: 24px;
  margin: -8px 10px;
  font-size: 20px;
  color: #dbd8d8;
}

.articles {
  background-color: #262336;
  display: flex;
  padding-bottom: 40px;
  color: white;
 
}
.shop {
  background-color: #f29b66;
  border-radius: 15px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.products {
  margin: 20px;
}

.logodown {
  padding: 1px;
}
footer {
  background-color: #262336;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 0px 16px;
}